// colors

$primary-color: #1a1a19;
$color-2: #777674;
$color-3: #52475e;
$color-4: #ffffff;
$color-5: #725d7e;
$color-6: #d3d3d3;
$color-7: #655a70;
$color-8: #b0b0b0;

// shadows

$shadow-white: 0 0 5px #a9a9a9, 0 0 10px #a9a9a9, 0 0 20px #a9a9a9,
  0 0 40px #a9a9a9, 0 0 80px #a9a9a9;

$shadow-1: 0 0 5px #1a1a19, 0 0 10px #1a1a19, 0 0 20px #1a1a19, 0 0 40px #1a1a19,
  0 0 80px #1a1a19;

$shadow-2: 0 0 2px #52475e, 0 0 4px #52475e, 0 0 6px #52475e, 0 0 8px #52475e;

$shadow-3: 0 0 10px #52475e, 0 0 20px #52475e, 0 0 30px #52475e,
  0 0 40px #52475e;

$shadow-4: 0 0 5px #b0b0b0, 0 0 10px #b0b0b0, 0 0 20px #b0b0b0, 0 0 40px #b0b0b0;

// font sizes

$font-size-small: 12px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 32px;
$font-size-xxlarge: 48px;
$font-size-main-header: 60px;

// fonts
$roboto: "Roboto", sans-serif;
